<header id="main-header" class="py-2 bg-primary text-white">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h1>Bienvenido Laboratorio</h1>
        </div>
      </div>
      <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <button class="btn btn-primary" type="button" >Perfil</button>
    </div>

      <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <button class="btn btn-primary" type="button" >Cerrar Sesion</button>
    </div>
    
    </div>
</header>

<div class="container mt-3">
    <div class="row">
        <div class="col-sm-6 mb-3 mb-sm-0">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Solicitar Examen</h5>
              <p class="card-text">Solicita un nuevo tipo de examen al administrador</p>
              <button class="btn btn-primary" type="button" (click)="nuevoExamen()">Solicitar</button>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Actualizar Examen</h5>
              <p class="card-text">Actualiza o agrega un nuevo examen al repertorio</p>
              <button class="btn btn-primary" type="button" (click)="actualizarExamen()" >Solicitar</button>
            </div>
          </div>
        </div>
      </div>
</div>
<div class="container mt-3">
  <div class="row">
      <div class="col-sm-6 mb-3 mb-sm-0">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Solicitud de Examenes</h5>
            <p class="card-text">Permite ver las solicitudes de examenes enviadas por los pacientes</p>
            <button class="btn btn-primary" type="button" (click)="solicitudExamen()">Solicitar</button>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Nada</h5>
            <p class="card-text">Nada</p>
            <button class="btn btn-primary" type="button" >Solicitar</button>
          </div>
        </div>
      </div>
    </div>
</div>